body{
  background-color: #3498db;
}
.box {
  background-color: white;
  box-shadow: 2px 2px 2px;
  position: relative;
}
.btn {
  background-color: #3498db;
  border: 1px solid #3498db;
}
#icon{
position: absolute;
top: 0;
left: 0;
padding: 3px;
opacity: 0.9;
}

#icon2{
  position: absolute;
  top: 0;
  right:0;
  padding: 3px;
  opacity: 0.9;
}